if SHIELD_DACTYL_MANUFORM_LEFT
    
    CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
    CONFIG_ZMK_KEYBOARD_NAME="Dactyl-M"
    CONFIG_ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS=1

endif

if SHIELD_DACTYL_MANUFORM_LEFT || SHIELD_DACTYL_MANUFORM_RIGHT
    
    CONFIG_ZMK_SPLIT=y
    CONFIG_ZMK_SPLIT_BLE=y

endif
